*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    transition: all 0.3s linear;
}
body{
     font-family: 'Open Sans', sans-serif;
     width: 100%;
     /* overflow-x:hidden ; */
     text-align: center;
}
*::selection{
    background-color: yellowgreen;
    color: white;
}
body::selection{
    background-color: yellowgreen;
}
button{
    text-decoration: none;
    color: yellowgreen;
    border:3px solid yellowgreen;
    border-radius: 8%;
    transition: all 0.3s linear;
    background-color: transparent;
    width: fit-content;
    padding: 1.2vh;
    margin: 4vh;
    font-weight: 300;
    font-size: 2em;

}

button:hover{
    color: white;
    background-color: yellowgreen;
}
a{
    text-decoration: none;
    color: yellowgreen;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(./images/background.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 91%, 49% 100%, 0 89%, 0 0);
    color: white;
    position: relative;
    text-align: center;
}

.header1 ul li {
    list-style-type:none;
    display: inline;
    margin-right: 1.1vh;
    margin-left: 1.1vh;
}

.header ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 150px;
    line-height: 1.8;
   
}

.header ul li a:hover{
    color: yellowgreen;
}

.header11{
    display: flex;
    position: absolute;
    top: 5vh;
    justify-content: space-between;
    width: 90%;
    margin-left: 5% ;
}

.header11 span
{
color: greenyellow;
text-transform: uppercase;
}


.header11 .hj1{
    font-size: 2.4em;
    font-weight: 190px;
    line-height: 1.9;
    text-transform: uppercase;
}

.header2{
    position: absolute;
    top: 30vh;
    height: 70vh;
    text-align: center;
    width: 100%;
 
  
}


.header2 h1{
    font-size: 8em;
    font-weight: bolder;
    margin-top: 4vh;
    text-transform: uppercase;
    color: white;
}


.awaus .imgage{
    width: 500px;
    height: 65vh;
}


.awaus img{
    width: 100%;
    height: 100%;
}


.awaus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 13vh 0vh;


}


.awaus .word{
    flex-basis: 400px;
    text-align: center;
}


.awaus .word h1{
    color: yellowgreen;
    font-size: 2.5em;
    margin-top: 4vh;
    margin-bottom: 4vh;

}


.awaus .word p{
    margin: 2vh;
    font-size: 1.1em;
    line-height: 1.65;
}


.ourservices .imgo{
    width: 450px;
    height: 40vh;
    margin: 1vh;
    position: relative;
    z-index: 1;
    padding: 0px;
}    

.redw{
position: absolute;
bottom: 0;
width: 100%;
z-index: 30;
height: 100%;
background-color: rgba(0, 0, 0, 0.76);
overflow: hidden;
transition: all 0.3s linear ;
text-align: center;
transform: scale(0);
transform-origin: (50%,200%);


}
.redw p{
    color: white;
    font-size: 1.2em;
    font-weight: 150;
    line-height: 1.65;
    margin: 1.5vh;

}


.redw h1{
    font-size: 2em;
    font-weight: 400px;
    margin: 1vh;
    color: yellowgreen;
}


.imgo:hover .redw
{
transform: scale(1);
}


.ourservices .imgo img
{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    z-index: 1;
}



.ourservices1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2vh 0vh;
   
}
.trainers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2vh 0vh;
    text-align: center;
}




.trainers .imga{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px;
    top: 0%;
 
}


.trainers .imga img{
    width: 100%;
    height: 100%;
}


.ourtrainers{
    text-align: center;
}


.container{
    margin-top: 5px;
 
}


.spjw{
    filter: opacity(1);
    background-color: yellowgreen;
    padding: 1.2rem 1rem;
    border-radius: 0.6rem;
    width: 80%;
    position: absolute;
    left: 10%;
    transition: all 2s ease-in-out;
    bottom: -14%;

}



.spjw h1, .spjw h6
{
    margin: 10px;
}


.pa11{
    font-size: 1.6em;
    font-weight: normal;
    line-height: 1.8;
    margin: 5vh 0vh;


}


.trainers a:hover 
{
 
    box-shadow: 0px 0px 7px 2px #000000;

}


.trainers a{
    display: inline;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px ;
    transition: all 0.3s  linear ;
}



.trainer{
    position: relative;
    transition: all 2s linear ;
    width: 400px;
    height: 680px;
    margin: 50px 20px;
}


.trainer:hover{
    transform: translateY(-2%);
}


.trainer:hover .spjw
{
    transform: translateY(-6%);
}

.basic {
background-color: white;
width: 480px;
height: 660px;
box-shadow: 2px 2px 6px 0px #000000;
margin: 50px 20px;

transition: all 0.3s linear ;

}


.basic:hover{
transform: translateY(-3%);
}



.green{
    background-color: yellowgreen;
    font-size: 2rem;
    margin-bottom: 3rem;
    padding: 1.2rem;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: fit-content;
}


.green h1{
    color: black !important;
    height: fit-content;
    font-size: 25px !important;
}


.h11{
    display: inline-block;
    color: yellowgreen;
    font-weight: bold;
    font-size: 4em;
    margin: 15vh;
    border-bottom: 4px solid yellowgreen;
  
}


.h11::selection{
    background-color: yellowgreen;
}



.ourplan{
    text-align: center;
}



.basics{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 2vh 0vh;
}


.ourplan i{
    display: inline;
}
.ourplan li{
    display: block;
    font-weight: 100px;
    font-size: 1.1em;
    margin-top: 0.2vh;
    line-height: 1.8;
}
.basic h1, .basic h2{
    margin-top: 1.7vh;
    margin-bottom: 1.7vh;
} 
.basic h1{
    color: yellowgreen;
    font-size: 3em;
    font-weight: bolder;
}
.basic h2{
    font-size: 2em;
    font-weight: 120px;
    line-height: 1.8
}




.ourplan ul li{
    list-style-type: none;
}
footer{
    min-height:2em;
    background-color: #333;   
    color: white;
    line-height: 1.7;
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
    /* overflow: hidden; */
    padding: 10px;
    box-sizing: border-box;
    margin: 0px;

}

.form{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/register.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 95vh;
    text-align: center;
    margin: 0px;
   
    
 

}
input , textarea
{
    background-color: transparent;
}
.form1{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
input{
    width: 642px;
    height: 8vh;
    margin: 1.5vh;
    border: 1px solid whitesmoke;
    padding: 2vh;
    font-weight: 300;
    font-size: 2em;
    color: white;
}
.msgg
{
    display: inline-block;
    padding: 2vh;
    width: 1320px;
    height: 38vh;
    resize: none !important;
    margin: 1vh;
    border: 1px solid whitesmoke;
    font-weight: 300;
    font-size: 2em;
    color: white;
    resize: none;

}
.form h1{
    display: inline-block;
    color: yellowgreen;
    font-weight: bold;
    font-size: 4em;
    margin: 5vh;
    border-bottom: 3px solid yellowgreen;
    width: fit-content;
}
.subm{
    width: fit-content;
    padding: 2vh;
    margin: 4vh;
    margin-top: -0.5vh;
    border:3px solid yellowgreen;
    color: yellowgreen;
    border-radius: 8%;
    transition: all 0.3s linear;
  
}
.subm:hover{
    color: white;
    background-color: yellowgreen;
}

.header .far , .header .fas{
    display: none;
}



@media (max-width:1200px){
    .redw h1 {
        font-size: 1.5em;
        font-weight: 400;
    }
    .header1{
        width: 200px;
        height: 100%;
        margin: 0px;
        position: fixed;
        top: 0px;
        right: -200px;
        filter: grayscale(1.5);
        z-index: 1000000;
        text-align: center;
        background-color: #0D0D0D;
   

    }

      .header .fas{
        display: inline-block;
        color: #A8D514;
        font-size: 25px;
        transform: translateY(20%);

    }
    .header1 .fas {
        display: inline-block;
        color: #A8D514;
        font-size: 25px;
        transform: translateY(100%);
        margin: 10px;
        padding: 10px;
    }
    .header1 ul{
        transform: translateY(10%);
    }

    .header1 ul li {
        list-style-type:none;
        display: block;
        margin: 3vh;
  
    }
    
.h11{
    font-size: 3em;
}
.awaus .word h1{
    font-size: 2em;
}       
.form h1{
       font-size: 3em;
   }
.header2 h1{
       font-size: 6em;
}

.awaus .word p{
    font-size: 0.9em;
}

.pa11{
    font-size: 1.2em;
}
.header11 .hj1{
    font-size: 2.0em;

}
button {
    width: fit-content;
    padding: 0.8vh;
    margin: 1vh;
    font-size: 1em;
}
.redw p {

    font-size: 1em;
    font-weight: 150;
    line-height: 1.5;
    margin: 1vh;
    }
    .awaus .imgage {
        width: 400px;
        height: 55vh;
    }
}


@media (max-width:700px){
    .redw p {

    font-size: 0.8em;
    font-weight: 150;
    line-height: 1.4;
    margin: 1vh;
    }
    input {
        width: 400px;
        height: 8vh;
        margin: 1.2vh;
        border: 1px solid whitesmoke;
        padding: 2vh;
        font-weight: 300;
        font-size: 1.5em;
        color: white;
    }
    footer {
        
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        box-sizing: border-box;

    }
    .h11{
        font-size: 2.5em;
    }
    .awaus .word h1{
        font-size: 1.3em;
    }       
    .form h1{
           font-size: 2em;
       }
    .header2 h1{
           font-size: 4em;
    }
    
    .awaus .word p{
        font-size: 0.8em;
    }
    
    .pa11{
        font-size: 1em;
     
    }
    .header11 .hj1{
        font-size: 1.5m;
    
    }
    .awaus .imgage {
        width: 300px;
        height: 45vh;
    }
    .trainer {
       
        width: 280px;
        height: 480px;
        margin: 50px 10px;
    }
        .spjw h1, .spjw h6
    {
        margin: 5px;
    }


    .basic {
        background-color: white;
        width: 280px;
        height: 560px;

    }
    button {
        width: fit-content;
        padding: 0.8vh;
        margin: 1vh;
        font-size: 1em;
    }
    .ourplan li {

        font-size: 0.8em;
        margin-top: 0.2vh;
        line-height: 1.5;

    }
    .msgg {
   
        padding: 2vh;
        width: 350px;
    }
    .ourservices .imgo {
        width: 300px;
        height: 55vh;
   
    }
}